<div class="card col-sm-6 mx-auto mt-5">
  <div class="card-header text-primary bg-light">
    <h1>Sign in</h1>
  </div>
  <div class="card-body mx-auto">
    <!-- <h5 class="card-title">Special title treatment</h5> -->

    <a class="btn btn-danger google" href="/auth/google"><i class="fa-brands fa-google"></i> Sign in with Google</a>
  </div>
</div>