<div class="col-lg-6 mt-5 mx-auto">
  <div class="card">

    <h2 class="card-title text-primary text-center">Home Page</h2>

    <div class="card-body">
      <a href="/google/auth/google" class="btn btn-danger">Log in with Google</a>
    </div>
  </div>
</div>